body {
    background-color: rgb(27, 43, 56);
}

.button {
    background-color: blue;
    border: 2pt, solid, white;
    border-radius: 4pt;
    height: auto;
    width: auto;
    text-align: center;
    color: white;
    font-weight: 700;
    }

.playButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 26px;
}

.resultsClass {
    background-color: rgb(9, 53, 53);
    color: white;
    font-size: 12pt;
    border: 4pt, dashed, rgb(124, 3, 3);
    padding: 4em;
}

